extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/apply.css')

block content
  .container
    header.header
      .container
        .row
          .col-md-12
            nav.navbar.navbar-inverse.navbar-fixed-top.container-fluid(role='navigation')
              //
                 Brand and toggle get grouped for better mobile display 
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a#giraNautLogo.navbar-brand(href="/") GiraNaut
              //
                 Collect the nav links, forms, and other content for toggling 
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                  li.dropdown
                    a#signInDropDown.dropdown-toggle
                      b.glyphicon.glyphicon-globe
    div
      div.applyWrapper.col-sm-8.col-sm-offset-2
        h1.applyHeader Becoming a GiraNaut Guide!
        p.lead You're well on your way to becoming the next GiraNaut Guide.  You've taken the intial steps and have a passion to explore your city!  That passion is exactly what GiraNaut is looking for.  We want to make sure that only the most passionate and driven people become Guides, regardless of previous tour guiding experience! To ensure that you share in the same goals and passion as we do at GiraNaut we invite you to fill out the application below!
    form.form-horizontal(method="post" action="/apply/authenticate" role='form')
        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputFirstName') First Name:
          .col-sm-6
            input#inputFirstName.form-control(type='text', name='firstName', placeholder='First Name')

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputLastName') Last Name:
          .col-sm-6
            input#inputLastName.form-control(type='text', name='lastName', placeholder='Last Name')

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputEmail') Email:
          .col-sm-6
            input#inputEmail.form-control(type='email', name='email', placeholder='Email')

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputAddress') Address:
          .col-sm-6
            input#inputAddress.form-control(type='text', name='address', placeholder='Home Address (for internal use only)')

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputCity') City:
          .col-sm-6
            input#inputCity.form-control(type='text', name='city', placeholder='City You Reside In')

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputState') State:
          .col-sm-6
            select(name='state', size='1')
                option(selected='selected', value='') State...
                  option(value='Alabama') Alabama
                  option(value='Alaska') Alaska
                  option(value='Arizona') Arizona
                  option(value='Arkansas') Arkansas
                  option(value='California') California
                  option(value='Colorado') Colorado
                  option(value='Connecticut') Connecticut
                  option(value='Delaware') Delaware
                  option(value='Florida') Florida
                  option(value='Georgia') Georgia
                  option(value='Hawaii') Hawaii
                  option(value='Idaho') Idaho
                  option(value='Illinois') Illinois
                  option(value='Indiana') Indiana
                  option(value='Iowa') Iowa
                  option(value='Kansas') Kansas
                  option(value='Kentucky') Kentucky
                  option(value='Louisiana') Louisiana
                  option(value='Maine') Maine
                  option(value='Maryland') Maryland
                  option(value='Massachusetts') Massachusetts
                  option(value='Michigan') Michigan
                  option(value='Minnesota') Minnesota
                  option(value='Mississippi') Mississippi
                  option(value='Missouri') Missouri
                  option(value='Montana') Montana
                  option(value='Nebraska') Nebraska
                  option(value='Nevada') Nevada
                  option(value='New Hampshire') New Hampshire
                  option(value='New Jersey') New Jersey
                  option(value='New Mexico') New Mexico
                  option(value='New York') New York
                  option(value='North Carolina') North Carolina
                  option(value='North Dakota') North Dakota
                  option(value='Ohio') Ohio
                  option(value='Oklahoma') Oklahoma
                  option(value='Oregon') Oregon
                  option(value='Pennsylvania') Pennsylvania
                  option(value='Rhode Island') Rhode Island
                  option(value='South Carolina') South Carolina
                  option(value='South Dakota') South Dakota
                  option(value='Tennessee') Tennessee
                  option(value='Texas') Texas
                  option(value='Utah') Utah
                  option(value='Vermont') Vermont
                  option(value='Virginia') Virginia
                  option(value='Washington') Washington
                  option(value='West Virginia') West Virginia
                  option(value='Wisconsin') Wisconsin
                  option(value='Wyoming') Wyoming

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputCountry') Country:
          .col-sm-6
            select(name='country')
                option(value='') Country...
                  option(value='Afganistan') Afghanistan
                  option(value='Albania') Albania
                  option(value='Algeria') Algeria
                  option(value='American Samoa') American Samoa
                  option(value='Andorra') Andorra
                  option(value='Angola') Angola
                  option(value='Anguilla') Anguilla
                  option(value='Antigua & Barbuda') Antigua & Barbuda
                  option(value='Argentina') Argentina
                  option(value='Armenia') Armenia
                  option(value='Aruba') Aruba
                  option(value='Australia') Australia
                  option(value='Austria') Austria
                  option(value='Azerbaijan') Azerbaijan
                  option(value='Bahamas') Bahamas
                  option(value='Bahrain') Bahrain
                  option(value='Bangladesh') Bangladesh
                  option(value='Barbados') Barbados
                  option(value='Belarus') Belarus
                  option(value='Belgium') Belgium
                  option(value='Belize') Belize
                  option(value='Benin') Benin
                  option(value='Bermuda') Bermuda
                  option(value='Bhutan') Bhutan
                  option(value='Bolivia') Bolivia
                  option(value='Bonaire') Bonaire
                  option(value='Bosnia & Herzegovina') Bosnia & Herzegovina
                  option(value='Botswana') Botswana
                  option(value='Brazil') Brazil
                  option(value='British Indian Ocean Ter') British Indian Ocean Ter
                  option(value='Brunei') Brunei
                  option(value='Bulgaria') Bulgaria
                  option(value='Burkina Faso') Burkina Faso
                  option(value='Burundi') Burundi
                  option(value='Cambodia') Cambodia
                  option(value='Cameroon') Cameroon
                  option(value='Canada') Canada
                  option(value='Canary Islands') Canary Islands
                  option(value='Cape Verde') Cape Verde
                  option(value='Cayman Islands') Cayman Islands
                  option(value='Central African Republic') Central African Republic
                  option(value='Chad') Chad
                  option(value='Channel Islands') Channel Islands
                  option(value='Chile') Chile
                  option(value='China') China
                  option(value='Christmas Island') Christmas Island
                  option(value='Cocos Island') Cocos Island
                  option(value='Colombia') Colombia
                  option(value='Comoros') Comoros
                  option(value='Congo') Congo
                  option(value='Cook Islands') Cook Islands
                  option(value='Costa Rica') Costa Rica
                  option(value='Cote DIvoire') Cote D'Ivoire
                  option(value='Croatia') Croatia
                  option(value='Cuba') Cuba
                  option(value='Curaco') Curacao
                  option(value='Cyprus') Cyprus
                  option(value='Czech Republic') Czech Republic
                  option(value='Denmark') Denmark
                  option(value='Djibouti') Djibouti
                  option(value='Dominica') Dominica
                  option(value='Dominican Republic') Dominican Republic
                  option(value='East Timor') East Timor
                  option(value='Ecuador') Ecuador
                  option(value='Egypt') Egypt
                  option(value='El Salvador') El Salvador
                  option(value='Equatorial Guinea') Equatorial Guinea
                  option(value='Eritrea') Eritrea
                  option(value='Estonia') Estonia
                  option(value='Ethiopia') Ethiopia
                  option(value='Falkland Islands') Falkland Islands
                  option(value='Faroe Islands') Faroe Islands
                  option(value='Fiji') Fiji
                  option(value='Finland') Finland
                  option(value='France') France
                  option(value='French Guiana') French Guiana
                  option(value='French Polynesia') French Polynesia
                  option(value='French Southern Ter') French Southern Ter
                  option(value='Gabon') Gabon
                  option(value='Gambia') Gambia
                  option(value='Georgia') Georgia
                  option(value='Germany') Germany
                  option(value='Ghana') Ghana
                  option(value='Gibraltar') Gibraltar
                  option(value='Great Britain') Great Britain
                  option(value='Greece') Greece
                  option(value='Greenland') Greenland
                  option(value='Grenada') Grenada
                  option(value='Guadeloupe') Guadeloupe
                  option(value='Guam') Guam
                  option(value='Guatemala') Guatemala
                  option(value='Guinea') Guinea
                  option(value='Guyana') Guyana
                  option(value='Haiti') Haiti
                  option(value='Hawaii') Hawaii
                  option(value='Honduras') Honduras
                  option(value='Hong Kong') Hong Kong
                  option(value='Hungary') Hungary
                  option(value='Iceland') Iceland
                  option(value='India') India
                  option(value='Indonesia') Indonesia
                  option(value='Iran') Iran
                  option(value='Iraq') Iraq
                  option(value='Ireland') Ireland
                  option(value='Isle of Man') Isle of Man
                  option(value='Israel') Israel
                  option(value='Italy') Italy
                  option(value='Jamaica') Jamaica
                  option(value='Japan') Japan
                  option(value='Jordan') Jordan
                  option(value='Kazakhstan') Kazakhstan
                  option(value='Kenya') Kenya
                  option(value='Kiribati') Kiribati
                  option(value='Korea North') Korea North
                  option(value='Korea Sout') Korea South
                  option(value='Kuwait') Kuwait
                  option(value='Kyrgyzstan') Kyrgyzstan
                  option(value='Laos') Laos
                  option(value='Latvia') Latvia
                  option(value='Lebanon') Lebanon
                  option(value='Lesotho') Lesotho
                  option(value='Liberia') Liberia
                  option(value='Libya') Libya
                  option(value='Liechtenstein') Liechtenstein
                  option(value='Lithuania') Lithuania
                  option(value='Luxembourg') Luxembourg
                  option(value='Macau') Macau
                  option(value='Macedonia') Macedonia
                  option(value='Madagascar') Madagascar
                  option(value='Malaysia') Malaysia
                  option(value='Malawi') Malawi
                  option(value='Maldives') Maldives
                  option(value='Mali') Mali
                  option(value='Malta') Malta
                  option(value='Marshall Islands') Marshall Islands
                  option(value='Martinique') Martinique
                  option(value='Mauritania') Mauritania
                  option(value='Mauritius') Mauritius
                  option(value='Mayotte') Mayotte
                  option(value='Mexico') Mexico
                  option(value='Midway Islands') Midway Islands
                  option(value='Moldova') Moldova
                  option(value='Monaco') Monaco
                  option(value='Mongolia') Mongolia
                  option(value='Montserrat') Montserrat
                  option(value='Morocco') Morocco
                  option(value='Mozambique') Mozambique
                  option(value='Myanmar') Myanmar
                  option(value='Nambia') Nambia
                  option(value='Nauru') Nauru
                  option(value='Nepal') Nepal
                  option(value='Netherland Antilles') Netherland Antilles
                  option(value='Netherlands') Netherlands (Holland, Europe)
                  option(value='Nevis') Nevis
                  option(value='New Caledonia') New Caledonia
                  option(value='New Zealand') New Zealand
                  option(value='Nicaragua') Nicaragua
                  option(value='Niger') Niger
                  option(value='Nigeria') Nigeria
                  option(value='Niue') Niue
                  option(value='Norfolk Island') Norfolk Island
                  option(value='Norway') Norway
                  option(value='Oman') Oman
                  option(value='Pakistan') Pakistan
                  option(value='Palau Island') Palau Island
                  option(value='Palestine') Palestine
                  option(value='Panama') Panama
                  option(value='Papua New Guinea') Papua New Guinea
                  option(value='Paraguay') Paraguay
                  option(value='Peru') Peru
                  option(value='Phillipines') Philippines
                  option(value='Pitcairn Island') Pitcairn Island
                  option(value='Poland') Poland
                  option(value='Portugal') Portugal
                  option(value='Puerto Rico') Puerto Rico
                  option(value='Qatar') Qatar
                  option(value='Republic of Montenegro') Republic of Montenegro
                  option(value='Republic of Serbia') Republic of Serbia
                  option(value='Reunion') Reunion
                  option(value='Romania') Romania
                  option(value='Russia') Russia
                  option(value='Rwanda') Rwanda
                  option(value='St Barthelemy') St Barthelemy
                  option(value='St Eustatius') St Eustatius
                  option(value='St Helena') St Helena
                  option(value='St Kitts-Nevis') St Kitts-Nevis
                  option(value='St Lucia') St Lucia
                  option(value='St Maarten') St Maarten
                  option(value='St Pierre & Miquelon') St Pierre & Miquelon
                  option(value='St Vincent & Grenadines') St Vincent & Grenadines
                  option(value='Saipan') Saipan
                  option(value='Samoa') Samoa
                  option(value='Samoa American') Samoa American
                  option(value='San Marino') San Marino
                  option(value='Sao Tome & Principe') Sao Tome & Principe
                  option(value='Saudi Arabia') Saudi Arabia
                  option(value='Senegal') Senegal
                  option(value='Serbia') Serbia
                  option(value='Seychelles') Seychelles
                  option(value='Sierra Leone') Sierra Leone
                  option(value='Singapore') Singapore
                  option(value='Slovakia') Slovakia
                  option(value='Slovenia') Slovenia
                  option(value='Solomon Islands') Solomon Islands
                  option(value='Somalia') Somalia
                  option(value='South Africa') South Africa
                  option(value='Spain') Spain
                  option(value='Sri Lanka') Sri Lanka
                  option(value='Sudan') Sudan
                  option(value='Suriname') Suriname
                  option(value='Swaziland') Swaziland
                  option(value='Sweden') Sweden
                  option(value='Switzerland') Switzerland
                  option(value='Syria') Syria
                  option(value='Tahiti') Tahiti
                  option(value='Taiwan') Taiwan
                  option(value='Tajikistan') Tajikistan
                  option(value='Tanzania') Tanzania
                  option(value='Thailand') Thailand
                  option(value='Togo') Togo
                  option(value='Tokelau') Tokelau
                  option(value='Tonga') Tonga
                  option(value='Trinidad & Tobago') Trinidad & Tobago
                  option(value='Tunisia') Tunisia
                  option(value='Turkey') Turkey
                  option(value='Turkmenistan') Turkmenistan
                  option(value='Turks & Caicos Is') Turks & Caicos Is
                  option(value='Tuvalu') Tuvalu
                  option(value='Uganda') Uganda
                  option(value='Ukraine') Ukraine
                  option(value='United Arab Erimates') United Arab Emirates
                  option(value='United Kingdom') United Kingdom
                  option(value='United States of America') United States of America
                  option(value='Uraguay') Uruguay
                  option(value='Uzbekistan') Uzbekistan
                  option(value='Vanuatu') Vanuatu
                  option(value='Vatican City State') Vatican City State
                  option(value='Venezuela') Venezuela
                  option(value='Vietnam') Vietnam
                  option(value='Virgin Islands (Brit)') Virgin Islands (Brit)
                  option(value='Virgin Islands (USA)') Virgin Islands (USA)
                  option(value='Wake Island') Wake Island
                  option(value='Wallis & Futana Is') Wallis & Futana Is
                  option(value='Yemen') Yemen
                  option(value='Zaire') Zaire
                  option(value='Zambia') Zambia
                  option(value='Zimbabwe') Zimbabwe


        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputNumber') Phone Number:
          .col-sm-6
            input#inputNumber.form-control(type='text', name='phoneNumber', placeholder='Phone Number (for internal use only)')

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputQuestion1') Question 1:
          .col-sm-6
            textarea#inputQuestion1.form-control(rows="6", name='question1', placeholder='Tell us why you think your city is the best city in the world')

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputQuestion2') Question 2:
          .col-sm-6
            textarea#inputQuestion2.form-control(rows="6", name='question2', placeholder='Tell us why showing your city to the masses is your passion')

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputQuestion3') Question 3:
          .col-sm-6
            textarea#inputQuestion3.form-control(rows="6", name='question3', placeholder='Tell us your favorite part of the city')

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputQuestion4') Question 4:
          .col-sm-6
            textarea#inputQuestion4.form-control(rows="6", name='question4', placeholder='If you were a tourist in your city, describe your perfect tour.  Be as creative as you\'d like!')

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputQuestion5') Question 5:
          .col-sm-6
            textarea#inputQuestion5.form-control(rows="6", name='question5', placeholder='What is the most interesting fact about your city that only a local would know')

        .form-group
          label.col-sm-2.col-sm-offset-1.control-label(for='inputAge') Must be 18 or older:
          .col-sm-1
            input#inputAge.form-control(type="checkbox" name="age")

        .form-group
          .col-sm-offset-5.col-sm-6
            input.btn.btn-warning(type='submit' value="Submit Application")
    hr
    include footer.jade

//-     Name, email, phone number, DOB, City you are in


//- ell us why you think your city is the best city in the world

//- Tell us why showing your city to the masses is your passion
//- Tell us your favorite part of your city
