extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/giraNautLP.css')
  link(rel='stylesheet', href='/stylesheets/modal.css')
block content
  .main-container
      article.section-container.landingPageSection
          header
            .container
              .row
                .col-md-12
                  nav.navbar.navbar-inverse.navbar-fixed-top.container-fluid(role='navigation')
                    //
                       Brand and toggle get grouped for better mobile display 
                    .navbar-header
                      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                      a#giraNautLogo.navbar-brand GiraNaut
                    //
                       Collect the nav links, forms, and other content for toggling 
                    #bs-example-navbar-collapse-1.collapse.navbar-collapse
                      ul.nav.navbar-nav
                        li#tourists.navGuide
                          a Tourists
                        li#tourGuides.navGuide
                          a Tour Guides
                        li#contactUs.navGuide
                          a FAQ
                      ul.nav.navbar-nav.navbar-right
                        li.dropdown
                          a#signInDropDown.dropdown-toggle(href='/sign-up')
                            | Sign-Up 
                            b.glyphicon.glyphicon-globe
                    //
                       /.navbar-collapse 
          //
              <div class="container"> 
          aside.socialMediaSignUp
            ul.asideULSocialMedia
              li
                h1.socialMediaHeading Sign-in
              li
                a#giraNautSignIn
                  img.socialMediaImageGiraNaut(src="../images/giraNaut.png")
              li
                a#twitterSignIn(href="/login/twitter")
                  img.socialMediaImageTwitter(src="../images/twitter.png")
              li
                a#facebookSignIn(href='/login/facebook')
                 img.socialMediaImageFacebook(src="../images/facebook.png")
              li 
                a#googlePlusSignIn(href='/login/google')
                  img.socialMediaImageGooglePlus(src="../images/googlePlus.png")
          //
             </div> 
          section.motto.container-fluid
            .row
              .col-sm-6.col-md-6
                .row
                  .banner.col-sm-12.col-md-12
                    h1.homeMotto See the world your way, with the locals who know it best!
                    h3.subHeader
                      span.glyphicon.glyphicon-share-alt
                      a#explore.btn.exploreGiraNaut Explore GiraNaut
                .row
                  .banner.banners.col-sm-12.col-md-8
                    h4.appMotto Grab the new GiraNaut app on the app store now!
                    h4.subHeader
                      span.glyphicon.glyphicon-share-alt
                      img#giraApp.btn(src='../images/availableAppStoreGN.png')
        article#touristInfo.section-container.articleMargin
          #carousel-example-generic.carousel.slide(data-ride='carousel')
            //
               Indicators 
            ol.carousel-indicators
              li.active(data-target='#carousel-example-generic', data-slide-to='0')
              li(data-target='#carousel-example-generic', data-slide-to='1')
              li(data-target='#carousel-example-generic', data-slide-to='2')
              li(data-target='#carousel-example-generic', data-slide-to='3')
            //
               Wrapper for slides 
            .carousel-inner
              .item.active
                img.carouselImage(src='../images/islands.jpeg', alt='')
                .carousel-caption
                  p.slidereel Find a GiraNaut certified Tour Guide in your city!
              .item
                img.carouselImage(src='../images/islands.jpeg', alt='')
                .carousel-caption
                  p.slidereel Message the GiraNaut Guides and plan your amazing personalized adventure!
              .item
                img.carouselImage(src='../images/islands.jpeg', alt='')
                .carousel-caption
                  p.slidereel Easy payment options to safely transfer funds to your Guide
              .item
                img.carouselImage(src='../images/islands.jpeg', alt='')
                .carousel-caption
                  p.slidereel
                    | Enjoy your once in a lifetime personalized tour with the best Guides in the world!
            //
               Controls 
            a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
              span.glyphicon.glyphicon-chevron-right
          section.sectionSeparation
            .container.marketing
              .row
                .col-lg-4.touristGNDescription
                  img.img-circle(src='../images/googlestock.jpeg', alt='')
                  h2 Tours
                  p.descriptionSubheading
                    | GiraNaut isn’t the cookie cutter tour experience you’re used to. You want to skip the Eiffel Tower and head straight to the Paris nightlife? Or maybe it is education in history you’re after--you can find a GiraNaut that knows the Louvre inside and out. You can chat with your guide ahead of time to make sure it’s the perfect experience for all walks of life. The beauty of GiraNaut is that we are putting the power in your hands. All tours are customized and thought up by you!
                .col-lg-4.touristGNDescription
                  img.img-circle(src='../images/googlestock.jpeg', alt='')
                  h2 Guides
                  p.descriptionSubheading
                    | A GiraNaut guide could be someone that has given tours the majority of their life, or someone that hasn’t left New York City. What they have in common is they are experts of their respective city. While each guide is knowledgeable in their own right, the beauty of GiraNaut is you not only get to choose your tour, you get to choose your guide. You can review all GiraNaut guide’s profiles before choosing the perfect fit for you and your Individual experience.
                .col-lg-4.touristGNDescription
                  img.img-circle(src='../images/googlestock.jpeg', alt='')
                  h2 Payment
                  p.descriptionSubheading
                    | Just like planning a GiraNaut tour and the perfect GiraNaut guide, paying is simple.  GiraNaut uses PayPal to make things safe and easy. Nobody from GiraNaut will ever ask for your credit card information directly.
              hr
        article#tourGuideInfo.section-container.articleMargin
          .container.marketing
            .row.featurette
              .col-md-7
                h1.featurette-heading Becoming A GiraNaut Guide
                p.lead Want to become the next GiraNaut Guide? There are many opportunities that claim to be unique. GiraNaut truly gives you that opportunity. You get to share your passions with people of all walks of life, learn how to run a successful business, and get paid while you learn! Think you are the perfect fit? See our application page for more details.
              .col-md-5
                img.featurette-image.img-responsive(src='../images/becomeTourGuide.png', alt='become a tour guide picture')
            hr
            .row.marketing
              .col-lg-6
                div.guideSubheading
                  h4.subHeadingsAlignment Not Your Typical Guiding
                  p.descriptionSubheading
                    | At GiraNaut every tour is unique. We give Guide’s the opportunity to put their own unique twist on the tours. At GiraNaut the Guide’s make all the decisions. As a GiraNaut Guide you are not restricted to some rigid schedule or curriculum--you make your own adventure!
                div.guideSubheading
                  h4.subHeadingsAlignment Be Your Own Boss
                  p.descriptionSubheading
                    | At GiraNaut you are more than a tour guide, you are the company’s voice for your city.  You get to make your own hours, market yourself how you see fit, and most of all make these tours an amazing experience your way. You are empowered to create the best experience by your own vision.
                div.guideSubheading
                  h4.subHeadingsAlignment Keep Your Finger On the Pulse of Your City
                  p.descriptionSubheading
                    | As a GiraNaut guide you get the opportunity to be immersed in the city that you love--and get paid for it. You get to spend your days establishing yourself as the local expert of everything fun and interesting in your city. Not only are you giving tours, but you are constantly learning more about the city, building relationships and establishing yourself as a valuable resource to your community.
              .col-lg-6
                div.guideSubheading
                  h4.subHeadingsAlignment Meet New People and Have New Experiences
                  p.descriptionSubheading
                    | If you are a GiraNaut guide, there is no doubt that you are an expert of your city. You’re a local with a passion for your community. You may think that you know everyone and everything, but by being a member of the GiraNaut community, you have a chance to connect with other unique people with the same passions of travel that you have.
                div.guideSubheading
                  h4.subHeadingsAlignment Learn on the Go
                  p.descriptionSubheading
                    | If guiding is just a hobby for you, GiraNaut provides you a unique opportunity to gain skills and knowledge of every area of business. As a GiraNaut guide you will keep your own records, build your own relationships, and market yourself. How many people can develop their professional skills while doing what they love? Not many, but as a GiraNaut guide you can.
                div.guideSubheading
                  h4.subHeadingsAlignment Get Paid Instantly
                  p.descriptionSubheading
                    | You control your pay as a GiraNaut guide. The more tours you do, the more you get paid. Work as often as you want! And GiraNaut won't make you wait until the end of the month to get paid. Your portion of the tour gets put into your account within 24 hours after your tour...guranteed!
            .row.marketing
              p.applicationProcessButton
                a.btn.btn-primary(href='/apply', role='button') View Details and Apply
            hr
        article#contactInfo.section-container.articleMargin
          .container
            .row
              .col-md-12
                h1.sectionHeader Frequently Asked Questions
            .row
              .col-md-6.col-md-offset-3
                //
                   Tab panes 
                .tab-content.faq-cat-content
                  #faq-cat-1.tab-pane.active.in.fade
                    #accordion-cat-1.panel-group
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-1')
                            h4.panel-title
                              | What do these tours cost?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-1.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-2')
                            h4.panel-title
                              | Where do I meet for these tours?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-2.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-3')
                            h4.panel-title
                              | How do I find a guide?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-3.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-4')
                            h4.panel-title
                              | How do I communicate with my guide?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-4.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-5')
                            h4.panel-title
                              | How long do these tours last?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-5.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-6')
                            h4.panel-title
                              | What if I have to cancel my tour?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-6.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-7')
                            h4.panel-title
                              | What if the weather is bad?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-7.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-8')
                            h4.panel-title
                              | How many people can go on these tours with me?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-8.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-9')
                            h4.panel-title
                              | Are my guides background checked?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-9.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-10')
                            h4.panel-title
                              | Where is GiraNaut available?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-10.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-11')
                            h4.panel-title
                              | How do I become a guide?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-11.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      .panel.panel-default.panel-faq
                        .panel-heading
                          a(data-toggle='collapse', data-parent='#accordion-cat-1', href='#faq-cat-1-sub-12')
                            h4.panel-title
                              | Can I meet my guide before our tour?
                              span.pull-right
                                i.glyphicon.glyphicon-plus
                        #faq-cat-1-sub-12.panel-collapse.collapse
                          .panel-body
                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            hr
          include modal.jade
          include footer.jade
      //
         ////image cache, put images here and then allow them to load on page but (visibility-so borwser reads it but not responds) hidden 
      img.cachedImages(src='../images/giranautactive.png')
      img.cachedImages(src='../images/giranauthover.png')
      img.cachedImages(src='../images/googleplusactive.png')
      img.cachedImages(src='../images/googleplushover.png')
      img.cachedImages(src='../images/facebookhover.png')
      img.cachedImages(src='../images/facebookactive.png')
      img.cachedImages(src='../images/pinteresthover.png')
      img.cachedImages(src='../images/pinterestactive.png')
      img.cachedImages(src='../images/twitterhover.png')
      img.cachedImages(src='../images/twitteractive.png')

block scripts
  script(src="../javascripts/animatescroll.js")
  script(src="../javascripts/giraNautLP.js")
