extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/toursHome.css')

block content
  header
    .container
      .row
        .col-md-12
          nav.navbar.navbar-inverse.navbar-fixed-top.container-fluid(role='navigation')
            //
               Brand and toggle get grouped for better mobile display 
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a#giraNautLogo.navbar-brand GiraNaut
            //
               Collect the nav links, forms, and other content for toggling 
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li.dropdown
                  a#signInDropDown.dropdown-toggle(href='/logout')
                    | Log-Out 
                    b.glyphicon.glyphicon-globe
  #wrapper.active
    //
       Sidebar 
    #sidebar-wrapper
      ul#sidebar_menu.sidebar-nav
        li.sidebar-brand
          a#menu-toggle(href='#')
            h2 Welcome 
            h2.touristName #{user.firstName}!
            span#main_icon.glyphicon.glyphicon-align-justify
      .container.giranaut-cities
        .row.col-sm-12
          div.citiesServedHeader
            h3 Cities We Serve:
            ul.btn-cities-list
              li.col-xs-12.col-md-12.citiesButton
                button#chicago.btn.btn-info Chicago
              li.col-xs-12.col-md-12.citiesButton
                button#nyc.btn.btn-info NYC
              li.col-xs-12.col-md-12.citiesButton
                button#boulder.btn.btn-info Boulder
              li.col-xs-12.col-md-12.citiesButton
                button#lasVegas.btn.btn-info Las Vegas 
  #guideBio.col-xs-12.col-sm-4.col-md-3
  #map-canvas
  #chatMessenger
  img#jencon.cachedImages(src='../images/jenconcircle.png')
  img#limacon.cachedImages(src='../images/adrianalimacircle.png')
  img#rosiecon.cachedImages(src='../images/rosiehuntingtoncircle.png')
  img#arleniscon.cachedImages(src='../images/arlenissosapenacircle.png')
  img#jarahcon.cachedImages(src='../images/jarahmarianocircle.png')

block scripts
  include handlebarsChat
  script(type="text/javascript").
    var guidesData = !{JSON.stringify(bootstrap)};
    var touristData = !{JSON.stringify(user)};
    var messageData = !{JSON.stringify(user.messages)};
  script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC1Mb_Wd80IfGpLGwrJidF599pwNJGtB2s&sensor=true")
  script(src="../javascripts/gMapsMarkerManipulation.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js")
  script(src="//jawj.github.io/OverlappingMarkerSpiderfier/bin/oms.min.js")
  script(src="../javascripts/gmapsAPI.js")
  script(src="../javascripts/spiderfy.js")
  script(src="../javascripts/faker.js")
  script(src="/socket.io/socket.io.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js")
  script(src="../javascripts/gmapsFunctionality.js")





