body {
  font-size: 12px;
  background: #f0f9ff;
  background: -moz-radial-gradient(center, ellipse cover, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f0f9ff), color-stop(47%, #cbebff), color-stop(100%, #a1dbff));
  background: -webkit-radial-gradient(center, ellipse cover, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  background: -o-radial-gradient(center, ellipse cover, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  background: -ms-radial-gradient(center, ellipse cover, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  background: radial-gradient(ellipse at center, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
}
.container {
  margin-top: 13%;
}
.jumbotron > h1,
.jumbotron > p {
  text-align: center;
}
.instructions {
  text-align: center;
}
