li
  list-style-type: none

/*header*/

#giraNautLogo
  color: #f0f0f0


/*statistics modal*/
.statisticsModal
  background: #252525
  padding: 20px
  // margin-top : -20px
  -webkit-border-top-right-radius: 10px
  -moz-border-radius-topright: 10px
  border-bottom-top-radius: 10px
  z-index: 2
  bottom: 0px
  left 0


/*guide editable content*/

.inner-cover
  width: 50%
  margin: 0px auto

.inner
  min-width: 400px
  background: rgba(255,255,255,0.6)
  padding: 10px 20px 20px 20px
  margin-top: 80px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  border-radius: 10px
  min-height: 573px

.infoheader
  position: relative

#profileImage
  width: 150px
  border-radius: 50%
  position: absolute
  right: 15px

.guideInformation
 height: 473px
 padding-right: 10px
 overflow: auto

.guideInformation a
  margin-left: 10px

.guideInfoAnswers
  margin-top: 5px
  font-weight: bold
  font-size: 18px

.guideInfoAnswers a
  font-size: 16px
  color: #028482

.cover-heading
  display: inline-block
  margin-top: 65px

#enable
  position: absolute
  left: 0px


/*guide sidebar*/

#wrapper 
  transition: all .4s ease 0s
  height: 100%
  position: absolute


#sidebar-wrapper 
  margin-right: -150px
  // margin-top: -20px;
  right: 150px
  width:250px
  background: #222
  position: fixed
  height: 100%
  z-index: 1
  transition: all .4s ease 0s


.sidebar-nav 
  display: block
  // float: left
  // width: 150px
  list-style: none
  margin: 0
  padding: 0
  margin-top: 53px

#page-content-wrapper 
  padding-left: 0
  margin-left: 0
  width: 100%
  height: auto

// #wrapper.active 
//   padding-left: 150px

#wrapper.active #sidebar-wrapper 
  right: -100px


#page-content-wrapper 
  width: 100%


#sidebar_menu li a, .sidebar-nav li a 
  color: #999
  display: block
  float: left
  margin-left: -59px
  text-decoration: none
  width: 310px
  // background: #252525
  // border-top: 1px solid #373737
  // border-bottom: 1px solid #1A1A1A
  -webkit-transition: background .5s
  -moz-transition: background .5s
  -o-transition: background .5s
  -ms-transition: background .5s
  transition: background .5s

.sidebar_name 
  padding-top: 25px
  color: #fff
  opacity: .7


.sidebar-nav li 
  line-height: 40px
  text-indent: 20px


.sidebar-nav li a 
  color: #999999
  display: block
  text-decoration: none


.sidebar-nav li a:hover 
  color: #fff
  background: rgba(255,255,255,0.2)
  text-decoration: none


.sidebar-nav li a:active,
.sidebar-nav li a:focus 
  text-decoration: none


.sidebar-nav > .sidebar-brand 
  height: 65px
  line-height: 60px
  font-size: 18px


.sidebar-nav > .sidebar-brand a 
  color: #999999


.sidebar-nav > .sidebar-brand a:hover 
  color: #fff
  background: none

#menu-toggle
  font-size: 28px
  font-weight: bold

#main_icon
  // float:left
  padding: 20px
  position: absolute
  bottom: 0px
  right: 250px
  // margin-top: -1px
  background: #252525
  font-size: 18px
  -webkit-border-top-left-radius: 10px
  -moz-border-radius-topleft: 10px
  border-top-left-radius: 10px


.glyphicons
  position: fixed
  display: inline-block
  font-family: 'Glyphicons Halflings'
  font-style: normal
  font-weight: 400
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

#messageQueue
  padding: 0px 0px 0px 0px

.chatName
  cursor: pointer
  float:  left
  font-size: 1.5em
  width: 100%
  line-height: 50px
  margin: 0px 0px 0px 0px
  color: #f0f0f0
  border: 2px solid #222
  padding: 10px 0px 10px 10px
  background: rgb(69,72,77);
  background: -moz-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%)
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1)))
  background: -webkit-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%)
  background: -o-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%)
  background: -ms-radial-gradient(center, ellipse cover, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%)
  background: radial-gradient(ellipse at center, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%)
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 );

.chatImage
  float: right
  padding: 0px 5px 0px 0px



/*chatMessenger with tourists*/

.chat
  padding-left: 10px

.touristMessenger
  margin: 10px 0px -20px 0px

.chatBody
  height: 450px
  overflow: auto
  background-color: #f0f0f0

.panel
  margin-bottom: 0px

.panel-primary
  border-color: #999

.panel-primary > .panel-heading
  background-color: #222
  border-color: #222

.panel-footer
  background-color: #eee

#btn-chat
  background-color: #999

.img-circle
  width: 45px
  margin: 0px 5px

::-webkit-scrollbar-track
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  background-color: #F5F5F5


::-webkit-scrollbar
  width: 12px
  background-color: #F5F5F5


::-webkit-scrollbar-thumb
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
  background-color: #555













